/*
    使用颜色，#39ADD1 #3079AB #982551 #E15258 #CC6699 #52AC43
*/
body,ul,ol,li {
    padding: 0;
    margin: 0;
}

.menu{
    list-style-type: none;
    padding: 0%;
    margin: 0;
    display: flex;
    flex-flow:row wrap;/*flex-direction和flex-wrap属性的快捷方式，复合属性*/
}
.menu li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    flex:1 1 100%;/*flex-grow, flex-shrink和flex-basis属性的复合属性*/
}
.menu>li:nth-child(1){
    background-color: #39ADD1;
}
.menu>li:nth-child(2){
    background-color: #3079AB;
}
.menu>li:nth-child(3){
    background-color: #982551;
}
.menu>li:nth-child(4){
    background-color: #E15258;
}
.menu>li:nth-child(5){
    background-color: #CC6699;
}
.menu>li:nth-child(6){
    background-color: #52AC43;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}

.menu li ul{
    left:-999em;/*移除屏幕*/
    position: relative;
    z-index:100;
    list-style-type: none;
    font-size: .9em;
}

.menu li:hover ul{
    display: block;
    left:auto;/*恢复正常位置*/
}
.menu li:nth-child(1) ul li {
    background-color: #39ADD1;
}
.menu li:nth-child(2) ul li {
    background-color: #3079AB;
}
.menu li:nth-child(3) ul li {
    background-color: #982551;
}
.menu li:nth-child(4) ul li {
    background-color: #E15258;
}
.menu li:nth-child(5) ul li {
    background-color: #CC6699;
}
.menu li:nth-child(6) ul li {
    background-color: #52AC43;
}

/*css媒体查询*/
@media (min-width:480px){
    .menu li{
        flex: 1 1 50%;
    }
}
@media (min-width:768px){
    .menu{
        flex-flow: row nowrap;
    }

}